<h1>All Tags</h1>

<% @tags.each do |tag| %>

  <%= link_to article.title, article_path(article),
      class: 'article_title', id: "article_#{article.id}" %>

  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
